name: Send notification on push
on:
  push:
    branches: [main, master,Dev]
  pull_request:
    branches: [main, master]
  workflow_dispatch:
 # schedule:
    # 可自定义 cron 表达式
  #  - cron: '30 1,2 * * 4'

jobs:
  send-msg:
    runs-on: ubuntu-latest
    steps:
     - name: ci status
       uses: foxundermoon/wechat-work-action@v1
       with:
         url: ${{ secrets.PUSH_PLUS_TOKEN }}
         type: text
         content: Hi，小伙伴们，今天的周报交了嘛！ 
         at: 祝洪峰
     - name: WeChat Work notification by text
       uses: chf007/action-wechat-work@master
       env:
         WECHAT_WORK_BOT_WEBHOOK: ${{secrets.WECHAT_WORK_BOT_WEBHOOK}}
       with:
          msgtype: text
          content: 广州今日天气：29度，大部分多云，降雨概率：60%
          mentioned_list: '["@all"]'
     - name: WeChat Work notification by markdown
       uses: chf007/action-wechat-work@master
       env:
        WECHAT_WORK_BOT_WEBHOOK: ${{secrets.WECHAT_WORK_BOT_WEBHOOK}}
       with:
        msgtype: markdown
        content: "实时新增用户反馈<font color=\"warning\">132例</font>，请相关同事注意。\n> 类型:<font color=\"comment\">用户反馈</font> \n> 普通用户反馈:<font color=\"comment\">117例</font> \n > VIP用户反馈:<font color=\"comment\">15例</font>"
