name: Send notification on push
on:
  # push:
    # branches: [main, master]
  # pull_request:
    # branches: [main, master]
  workflow_dispatch:
  schedule:
    #可自定义 cron 表达式
   - cron: "10 1,2 * * 4"

jobs:
  send-msg:
    runs-on: ubuntu-latest
    steps:
     - name: WeChat Work notification by markdown
       uses: chf007/action-wechat-work@master
       env:
        WECHAT_WORK_BOT_WEBHOOK: ${{secrets.WECHAT_WORK_BOT_WEBHOOK}}
       with:
        msgtype: markdown
        content: "### <font color=\"warning\">Hi，小伙伴们，</font>\n> <font color=\"warning\">今天的周报交了嘛！</font>"
     - name: WeChat Work notification by text
       uses: chf007/action-wechat-work@master
       env:
         WECHAT_WORK_BOT_WEBHOOK: ${{secrets.WECHAT_WORK_BOT_WEBHOOK}}
       with:
          msgtype: text
          content: Hi，小伙伴们，今天的周报交了嘛！
          mentioned_list: '["@all"]'


